.toggle-theme-button {
  left: 50%;
}

.navigation-collapse {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: absolute;
  top: -50%;
  left: 50%;
  scale: 0%;
  z-index: 10;
  background-color: var(--navigation-collapse-background-color);
  border: 1px solid var(--navigation-collapse-border-color);
  border-radius: 10px 0px 10px 10px;
  padding: 0.5rem;
  transition: top 250ms ease-in-out,
              left 250ms ease-in-out,
              visibility 250ms ease-in-out,
              scale 250ms ease-in-out;
}

.collapse-show {
  top: 2em;
  left: -11em;
  visibility: visible;
  scale: 100%;
}

.navigation-way-to-close-sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 8;
}

.invisible {
  display: none;
  position: absolute;
}